%p#notice= notice

%p
  %b Reason:
  = @notification.reason
%p
  %b Notificationdate:
  = @notification.notificationDate

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
